# Dist tools
setuptools
wheel
twine<4

# Testing
pytest<7

# Project
-e .

# JSON custom parser
ujson<=5.1.0

# Yaml parser
ruamel.yaml<=0.17.20

# TOML parser
toml<=0.10.2

# Documentation
Sphinx~=4.3.2
furo==2022.1.2
